extends layout

block content
  
  img.featurette-image.pull-right(src='./images/logo.png')
  h2.featurette-heading
    | Welcome to the Bakery. 
    span.muted
      | Customise your Raspberry Pi images.

  hr

  a.btn.btn-large.btn-primary(href='/bakery') Start Baking!