extends layout

block content
  
  img.featurette-image.pull-right(src='http://twitter.github.com/bootstrap/assets/img/examples/browser-icon-chrome.png');
  h2.featurette-heading
    | Welcome to the Bakery. 
    span.muted
      | Customise your Raspberry Pi images.

  hr

  button.btn.btn-large.btn-primary Start Baking!