extends layout

block content
  #response.alert.hide
  form(method='post', target='/ingredients')
    fieldset
      legend Create a new package
      ul.unstyled
        li
          select#os(style='float:left')
            option Arch Linux
            option.disabled Raspbian
            option.disabled Raspbmc
          .input-prepend.input-append(style='float:left; margin-left:20px;')
             button.btn#icon-upload Upload
             input(type='text')
             button.btn#icon-ok &nbsp;
        li
          input#name.input-xxlarge(type='text', placeholder='Package name')
        li
          input#category.input-xxlarge(type='text', placeholder='Category') 
          a.btn.btn-link('href=#newCategory') New Category
        li
          input#summary.input-xxlarge(type='text',
          placeholder='Summary (max 100 characters)')
        li
          | Please provide a detailed description of the package. This input supports markdown.
          textarea#description.input-block-level.textarea(rows='10')
            
        li
          input(type='submit', data-loading-text='Submitting...', autocomplete='off').btn.btn-submit Submit
    
