doctype 5
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
    link(rel='stylesheet', href='/stylesheets/bootstrap.css')
  body
    #wrap
      #main.container-narrow
        .masthead
          ul.nav.nav-pills.pull-right
            li.active
              a(href='/') Home
            li
              a(href='/bakery') Bakery 
            li
              a(href='/about') About
          h1.muted Pi Bakery
        hr
        block content

  footer.footer
    .container
      p.muted.credit 
        | Content by 
        a(href='http://james.ivings.name') James Ivings
      p 
        | Made possible by the excellent efforts of the 
        a(href='http://www.raspberrypi.org/') Rasberry Pi Foundation.
      p 
        | Supported by the 
        a(href='http://raspberrypi.stackexchange.com') Raspberry Pi Stack Exchange
  script(src='/javascripts/jquery.js')
  script(src='/javascripts/bootstrap.js')
